* {
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
}

:root {
  --main-font-color: rgb(37, 31, 22);
  --secondary-font-color: rgb(243, 235, 235);
  --main-header-color: rgb(245, 231, 231);
  --secondary-header-color: rgb(27, 17, 44);
}
body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
}

header {
  padding: 20px;
  text-align: left;
  background: #27415a;
  color: var(--main-header-color);
}

header img {
  display: block;
  margin-left: auto;
  margin-right: 0;
  clip-path: circle();
}

h1 {
  font-size: 32px;
  letter-spacing: 1px;
}

h2 {
  font-size: 28px;
}

h3 {
  padding: 20px;
  text-align: center;
  background: #27415a;
  font-size: 18px;
}

h4 {
  font-size: 20px;
}

p {
  font-size: 16px;
}

/* top navigation with links */
nav {
  display: flex;
  background-color: #95b8a4;
  justify-content: right;
  color: var(--secondary-font-color);
  font-size: 18px;
  letter-spacing: 0.4px;
}

nav a {
  color: #2b2c2e;
  padding: 14px 20px;
  text-decoration: none;
}

main {
  display: flex;
  flex-wrap: wrap;
}

main p {
  display: flex;
  color: var(--secondary-header-color);
  font-size: 16px;
}
/* About me section on left side */
aside {
  flex: 1;
  background-color: #8d9784;
  padding: 20px;
  text-align: left;
  color: var(--secondary-header-color);
}
aside p {
  font-size: 16px;
  padding-top: 8px;
  letter-spacing: 0.7px;
  line-height: 1.5;
}

aside h2 {
  color: var(--secondary-header-color);
}

/* Footer */
footer {
  padding: 10px;
  text-align: center;
  background: #27415a;
  color: rgb(245, 231, 231);
  margin-top: 5px;
}
/* Contact me section */
#contactme {
  justify-content: right;
  background-color: white;
  list-style: none;
  color: var(--secondary-header-color);
}

#contactme ul {
  list-style: none;
  display: flex;
  justify-content: right;
  margin-left: 0px;
  padding-left: 0;
  width: 50%;
  margin-right: 0;
}

#contactme li {
  padding: 8px 18px;
}

#contactme h2 {
  color: var(--secondary-header-color);
  height: 20px;
  padding-left: 20px;
  display: flex;
  width: 50%;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-right: none;
  margin-left: none;
}

/* ID of all project cards */
#projects {
  flex: 2;
  background-color: #9ea597;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  letter-spacing: 0.4px;
}

/*individual project cards*/
.card {
  border-style: none;
  border-width: 1px;
  border-radius: 10px;
  padding: 10px;
  flex: 0 0 400px;
  margin-left: -9px;
  margin-right: -3px;
  width: 100%;
}

.card h3 {
  padding: 20px;
  color: var(--main-header-color);
}

.card p {
  text-align: center;
  color: var(--main-font-color);
  font-size: 16px;
  padding-top: 3px;
  padding-bottom: 8px;
  letter-spacing: 0.5px;
}

.card img {
  width: 100%;
}

@media screen and (max-width: 768px) {
  main,
  nav {
    flex-direction: column;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 768px) {
  #contactme h2,
  ul {
    flex-direction: column;
    flex-wrap: wrap;
    display: flex;
    width: 50%;
  }
}
